*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: 'Poppins', sans-serif;
   font-size: 18px;
   color: #707070;
}

h1,h2,.btn {
   font-family: 'Inter', sans-serif;
}

h2,h3 {
   color: #121212;
}

h1 {
   font-size: 65px;
   color: white;
   margin: 0 auto 25px;
   width: 85%;
   
}

h2 {
   font-size: 45px;
   margin-bottom: 20px;
}

h3 {
   font-size: 24px;
   font-weight: 600;
}
p {
   
   line-height: 28px;
}

img {
   width: 100%;
}
a {
   text-decoration: none;
   display: inline-block;
}

.btn {
 background-color: #FF5959;
 color: white;
 font-weight: 600;
 font-size: 22px;
 padding: 18px 24px;
 border-radius: 5px;

}

.icon {
   width: 53px;
   height: 53px;
}
.flex_section {
   padding: 130px 0 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.section_padding {
   padding: 130px 300px 0;
   text-align: center;
}

.body-text {
   max-width: 800px;
   margin: 0 auto;
}
.header {
 
   background-image: url(./images/header.png), linear-gradient(rgba(18,18,18,0),rgba(18,18,18,1));
   background-blend-mode: overlay;

   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   padding: 350px 400px;
   text-align: center;
   
   
}

.header_content {

   margin: 0 auto;
}
.header_content p {
   color: white ;
   margin: 0 auto 30px;
   width: 80%;
   font-size: 24px;
   line-height: 1.5;
   font-weight: 400;
   
}


.donate_today-container {
   max-width: 800px;
   text-align: center;
}
.donate_amounts-container {
   margin-top: 40px;
   margin-bottom: 60px;
   display: flex;
   justify-content: space-between;
}
.donate_amount {
   background-color: #fafafa;
   width: 135px;
  height: 123px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.donate_amount p {
   font-family: 'Inter', sans-serif;
   font-weight: 700;
   font-size: 30px;
}
.active {
   background-color: #FFEEEE;
   border: 3px solid #FF5959;
   color: #FF5959;
}
.amount_input {
   display: block;
   width: 100%;
   margin-bottom: 30px;
   text-align: center;
   padding: 10px 0;
   border: none;
   border-bottom: 1px solid #dadada;
   outline: none;
   font-family: 'Poppins', sans-serif;
   font-size: 20px;
   color: #FF5959;

}
.amount_input::placeholder {
   color: #b3b3b3;
}
.donate_plan-container {
   text-align: center;
   padding-left: 350px;
   padding-right: 350px;
}

.plans-container {
   display: flex;
   justify-content: space-between;
   text-align: left;
   margin-top: 50px;
   gap: 24px;
}
.plans-container p {
   font-size: 18px;
   color: #121212;
   
}
.plans-container h3 {
   margin-bottom: 16px;
}
.single_plan {
   width: 33.33%;
   padding: 60px 30px 60px 30px;
   border-radius: 5px;

}

.single_plan .icon {
   margin-bottom: 25px;
}
.light_blue {
   background-color: rgba(79,157,166, 0.10);
}
.light_pink {
   background-color: rgba(255,89,89, 0.10);
}

.peach {
   background-color: #FFF4D6;
}

.contribute {
   padding: 130px 350px 0;
   display: flex;
   align-items: center;
}
.contribute_content {
   width: 50%;
}
.contribute_content p {
 
   margin-bottom: 20px;
}
.contribute_content .btn {
   margin-top: 30px;
}

.contribute_image {
   width: 35%;
  
}
.contribute_image img {
   height: 470px;
   object-fit: cover;
}
.margin {
   margin-right: 80px;
}

.events_container {
   margin: 40px 0;
   display: flex;
   gap: 40px;
   justify-content: space-between;
   text-align: left;
   
}
.single_event {
   width: 33.33%;

}
.single_event h3 {
   margin-bottom: 10px;
}
.event_img {
   margin-bottom: 16px;
}

.event_img img {
   border-radius: 5px;
   height: 400px;
   object-fit: cover;
}


#subcribe_form {
   margin: 50px auto 0;
   background: #FFF4D6;
   max-width: 980px;
   padding: 75px 150px;

}
#subcribe_form form {
   display: flex;
   align-items: center;
   justify-content: center;
}
#subcribe_form input {
   background-color: #D9D9D9;
   border: none;
   outline: none;
   padding: 18.2px;
   width: 50%;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   font-size: 16px;
   
}
#subcribe_form input::placeholder {
   color: #aa9f9f;
}
#subcribe_form .btn {
   font-size: 16px ;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   padding: 17.5px 44px;
   outline: none;
   border: none;
   cursor: pointer;
}
footer {
   margin-top: 130px;
   padding: 43px 0;
   text-align: center;
   background-color: #121212;
}
#humble {
   font-family: 'Lobster', cursive;
   font-size: 36px;
   color: #FF5959;
   margin-bottom: 24px;
}
.footer-text {
   font-size: 14px;
   color: #D9DBE1;
}